<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wtfguy.android.xwall"
    android:versionCode="1"
    android:versionName="2.2" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="URL based firewall" android:name="xposeddescription"/>
    </application>

</manifest>
